@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FD;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
}

.cabecalho {
    padding: 2% 0% 0% 15%  ;


}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}

.cabecalho__menu__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;   

}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;

}

.apresentacao__conteudo {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 36px;
    font-family: "Krona One", sans-serif;
        

}

.titulo-destaque {
    color: var(--cor-terciaria);

}

.apresentacao__conteudo__texto{
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 51px;

    

}

.fotoapresentacao {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid var(--cor-terciaria) ;

}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-size: 24px;

}

.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 378px;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    padding: 16px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    transition: 0.3s;
     
}

.apresentacao__links__link:hover {
    background-color: #272727;
    transform: scale(1.01);
        
}

.rodape {
    color: black;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    padding: 24px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;

}
