@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cor-primaria: #1E201E;
    --cor-secundaria: #ECDFCC;
    --cor-terciaria: #697565;
    --cor-hover: #2C2E2B;
    --cor-destaque: #AFC8AD;

    --fonte-principal: "Krona One", sans-serif;
    --fonte-secundaria: "Montserrat", sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria); 
}

.cabecalho {
    padding: 2% 0% 0% 15%  ;


}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    
}

.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 24px;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;   

}


.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 82px;

}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-principal);
        

}

.titulo-destaque {
    color: var(--cor-destaque)

}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    margin-bottom: 51px;

    

}

.fotoapresentacao {
    width: 50%;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--cor-terciaria) ;
    box-shadow: 0px 0px 15px rgba(105, 117, 101, 0.4);
    ;


}

.apresentacao__links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentacao__links_subtitulo {
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 16px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    transition: 0.3s;
     
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
    transform: scale(1.01);
        
}

.rodape {
    color: black;
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;

}

.insta {
    width: 30px;
}

@media (max-width: 1200px ) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;

    }


    .apresentacao {
        flex-direction: column-reverse;
         padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
        
    }
}
